@CHARSET "UTF-8";
  .el-tabs__item{
            height: 60px;
             line-height: 60px;
             color: #d2d2d2;
             background-color: #16c5bb;
             width: 111.5px;
             padding: 0px;
             margin: 0px;
             text-align: center;
         }
         .el-tabs__item.is-active{
             color:#fff;

         }
         .el-tabs__item:hover{
             color:#fff;
         }
         .el-tabs__active-bar{
             background-color:#fff;
             width: 111px !important;

         }
         .el-tabs__header{
             margin: 0 0 5px;
         }
         .addr-penl{
            background: #fff;
             margin: 10px 10px 0 10px;
             height: 200px;
             border-radius: 2px;

         }
         .addr-penl>.addr-title{
             padding: 10px 0px 10px 10px;;
         }
         .addr-penl>.addr-img{
             margin: 0px 20px 0px 20px;
             height: 130px;
             background-color: azure;
             /* background: url(../template/111111/10233178.png) 50% 50% / contain no-repeat; */
         }
         .addr-setting{
           font-size: 18px;
             color: #16c5bb;
             text-align: right;
             margin-right:10px ;
         }
         .addr-setting>i{
             cursor: pointer;

         }
         .addr-setting>i:hover{
            color: #5beae2;

         }

         .add-addr{
             text-align: center;
             line-height: 200px;
             font-size: 28px;
         }
         .add-addr:HOVER {
	        color: #16c5bb;
         }
         .View:hover{
             cursor:pointer;

         }
         .el-tabs {
          height:100%;
         }
         .el-tabs__content{
             height: calc(100% - 60px);
         }