.loncom_content {
    width: 100% !important;
    height: 100% !important;
}
.loncom_sidebar {
    width: 200px;
    height: 100%;
    display: block;
    background: #26344B;
    left: 0;
    color: #fff;
    position: absolute;
    z-index: 999;
    transition: all 0.5s ease-in;
}
.loncom_sidebar_right {
    width: 100%;
    height: 100%;
    padding-left: 200px;
    float: left;
    transition: all 0.5s ease-in;
}
.loncom_mb10{
    margin-bottom: 10px !important;
}

/*以上是小微的样式，整合时可以去掉,有些也用了小微的样式，这里没写了*/
.loncom_zt_sidebar_right{
    padding-left: 225px;
}
.loncom_zt_edit_right{
    padding-left: 225px;
    padding-top: 65px;
}
.loncom_ztright_top{
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in;
}
.loncom_zt_backFull{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -55px;
    transition: all 0.5s ease-in;
    z-index: 9999;
}
.loncom_zt_sidebar{
    width: 225px;
    color: #666;
    font-size: 12px;
    font-family: "微软雅黑";
}
.loncom_zt_sidebar .el-tabs__header{
    width: 100%;
    height: 65px;
    background: #17C4BB;
    padding-left: 30px;
}
.loncom_zt_sidebar .el-tabs__item{
    height: 65px;
    line-height: 65px;
    text-align: center;
    color: #ccc !important;
}
.loncom_zt_sidebar .el-tabs__nav-wrap::after{
    background-color: #17C4BB !important;
}
.loncom_zt_sidebar .el-tabs__item.is-active,.loncom_zt_sidebar .el-tabs__item:hover{
    color: #fff !important;
}
.loncom_zt_sidebar .el-tabs__active-bar{
    background-color: #fff !important;
}
.loncom_zt_sidebar .el-tabs,.loncom_zt_sidebar .el-tab-pane{
    height: 100%;
}
.loncom_zt_sidebar .el-tabs__content{
    height: -webkit-calc(100% - 65px);
    height: -moz-calc(100% - 65px);
    height: calc(100% - 65px);
}


.loncom_zt_sidebarcon{
    width: 100%;
    padding: 10px;
}
.loncom_zt_sidebar_btn{
    width: 20px;
    height: 36px;
    display: block;
    line-height: 36px;
    text-align: center;
    background: #17C4BB;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: -20px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: all 0.5s ease-in;
    color: #fff;
}
.loncom_zt_sidebarbox{
    width: 100%;
    height: auto;
    padding: 10px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}
.loncom_zt_mapimg{
    margin: 20px 0;
}
.loncom_zt_mapimg img{
    width: 100%;
}
.loncom_zt_map_btn {
    text-align: right;
}
.loncom_zt_map_btn span{
    height: 15px;
    display: inline-block;
    cursor: pointer;
    color: #17C4BB;
    margin-left: 5px;
    font-size: 18px;
}
.loncom_zt_mapadd{
    height: 200px;
    line-height:184px;
    text-align: center;
    font-size: 32px;
    cursor: pointer;
}
.loncom_zt_mapadd:hover{
    color: #17C4BB;
}
.loncom_zt_editmap_btn{
    padding-right: 20px;
}
.loncom_zt_editmap_btn span{
    color: #5BEAE2;
    margin-left: 10px;
    font-size: 30px;
    line-height: 65px;
    cursor: pointer;
}
/**/

.loncom_zt_edititem .el-collapse, 
.loncom_zt_edititem .el-collapse-item__header,
.loncom_zt_edititem .el-collapse-item__wrap{
    border-bottom: 4px solid #26344b;
}
.loncom_zt_edititem .el-collapse {
    border-top: 4px solid #26344b;
}
.loncom_zt_edititem .el-carousel__mask,
.loncom_zt_edititem .el-cascader-menu, 
.loncom_zt_edititem .el-cascader-menu__item.is-disabled:hover, 
.loncom_zt_edititem .el-collapse-item__wrap{
    background: #26344B !important;
}
.loncom_zt_edititem .el-collapse-item__header{
    background: #1C2B38 !important;
    text-align: center;
    color: #fff;
}
.loncom_zt_edititem .el-collapse-item__arrow{
    font-weight: bold;
    font-size: 16px;
}
.loncom_zt_edititem .el-collapse-item__content{
    color: #fff !important;
}
.loncom_zt_edititem .el-collapse-item.is-active .el-collapse-item__header{
    color: #16c5bb;
}
.loncom_zt_item span{
    display: block;
    margin-right: 8px;
    float: left;
    cursor: move;
}
.loncom_zt_item span:nth-of-type(3n){
    margin-right: 0;
}
.loncom_zt_item img{
    width: 60px;
    max-height: 60px;
}

.loncom_zt_canvas{
    width: 100%;
    height: 100%;
    position: relative;
}
.loncom_zt_canvas span img{
    cursor: move;
}
.loncom_canvas_bigimg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.loncom_canvas_samllimg{
    position: absolute;
}

.device_detail{
    width: 250px;
    height: 100%;
    position: absolute;
    right: -250px;
    top: 0;
    z-index: 999;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease-in;
}
.device_detail_title{
    width: 100%;
    height: 60px;
}
.device_detail_title h2{
    width: 100%;
    border-bottom: 1px solid #fff;
    text-indent: 10px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
}
.device_detail_con{
    padding: 10px;
    width: 100%;
    height: -webkit-calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: calc(100% - 60px);
    position: relative;
}

.device_detail_con .el-form-item__content{
    line-height: 40px !important;
}
