
/*登录页面*/

.loncom_login {
  width: 100%;
  height: 220px;
  background: #3691CF url(../images/login_bg.png) no-repeat right bottom;
  position: relative;
  top: 50%;
  margin-top: -110px;
}

.loncom_login_con {
  width: 350px;
  height: 420px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -210px;
  background: #fff;
  padding: 20px 25px;
  border-top: 10px solid #199ED8;
}

.loncom_login_con .loncom_logo_img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: url(../images/login_logo.png) no-repeat center center;
  background-size: contain;
}

.loncom_login_con .loncom_logo_text {
  text-align: center;
  font-style: normal;
  font-size: 24px;
  color: #0099CC;
  font-weight: bold;
  margin: 20px 0;
}

.loncom_login_input input {
  width: 100%;
  height: 50px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  padding-left: 40px;
  color: #999;
}

.loncom_login_input p {
  margin-bottom: 20px;
}

.loncom_login_input .loncom_user input {
  background: url(../images/login_user.png) no-repeat 10px center;
}

.loncom_login_input .loncom_pass input {
  background: url(../images/login_pass.png) no-repeat 10px center;
}
.loncom_login_input .el-form-item__content{
  margin-left:0 !important; 
}
.loncom_login_input button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  background: #199ED8;
  color: #fff;
}


/*首页*/

.loncom_index {
  width: 100%;
  height: 100%;
  background: url(../images/index_bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.loncom_index_body {
  padding: 0 60px;
}

.loncom_index_body_top {
  width: 100%;
  height: 60px;
}

.loncom_index_body_top .loncom_logo {
  display: block;
  float: left;
  color: #fff;
  font-family: Arial;
  font-size: 26px;
}

.loncom_index_body_top .loncom_logo img {
  height: 40px;
  margin: 10px 10px 0 0;
  float: left;
}

.loncom_index_body_top .loncom_logo span {
  line-height: 60px;
}

.loncom_index_top_right {
  float: right;
  height: 60px;
  line-height: 60px;
  padding-right: 10px;
}

.loncom_index_top_right li {
  margin-left: 15px;
  display: inline-block;
  position: relative;
}
.loncom_index_top_right a{
  color: #fff;
}
.loncom_index_top_right>ul>li a i {
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  margin: 22px 5px 0 0;
}
.loncom_index_top_right>ul>li a i{
  font-size: 16px;
}
.loncom_index_user_info,.loncom_index_style_info{
    position: absolute;
    left: -20px;
    top: 50px;
    width: 365px;
    height: 200px;
    padding: 10px 15px;
    background: #fff;
    z-index: 9;
    font-size: 12px;
    color: #666;
    display: none;
    z-index: 999;
}
.loncom_index_style_info{
  left: -238px;
}
.loncom_index_user_info h2{
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(228, 228, 228);
}
.loncom_index_user_info h2 a{
  color: #0FAE30;
  float: right;
}
.loncom_index_user_info li{
  height: 30px;
  line-height: 30px;
  display: block;
}
.loncom_index_user_info li label{
  color: #999;
}
.loncom_index_userhover:hover .loncom_index_user_info,.loncom_index_stylehover:hover .loncom_index_style_info{
  display: block;
}
/*
.loncom_index_top_right a i.loncom_index_full {
  background: url(../images/index_full.png) no-repeat;
}

.loncom_index_top_right a i.loncom_index_user {
  background: url(../images/index_user.png) no-repeat;
}

.loncom_index_top_right a i.loncom_index_out {
  background: url(../images/index_out.png) no-repeat;
}

.loncom_index_top_right a i.loncom_index_style {
  background: url(../images/index_style.png) no-repeat;
}*/

#loncom_index_alarm em {
  position: absolute;
  width: 18px;
  height: 18px;
  display: block;
  border-radius: 50%;
  background: #FF5918;
  color: #fff;
  line-height: 18px;
  text-align: center;
  left: 8px;
  top: 6px;
  font-size: 12px;
  font-style: normal;
}

.loncom_index_body_cen {
  width: 100%;
  height: -webkit-calc(100% - 120px);
  height: -moz-calc(100% - 120px);
  height: calc(100% - 120px);
  margin: 0 auto;
  display: table;
}

.loncom_index_body_center {
  overflow: hidden;
  width: 100%;
  min-height: 670px;
  display: table-cell;
  vertical-align: middle;
}

.loncom_index_body_cen_left {
  width: 100%;
  height: 670px;
}

.loncom_index_body_cen_left_box {
  padding: 0 15px 15px 0;
  width: 50%;
  float: left;
}

.loncom_index_body_left_box_con {
  width: 100%;
  height: 320px;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
}

.loncom_index_body_left_box_con:hover {
  background: rgba(255, 255, 255, 0.3);
}

.loncom_index_change {
  width: 78px;
  height: 51px;
  padding: 10px 30px;
  position: absolute;
  right: 0px;
  top: 0;
  cursor: pointer;
  z-index: 99;
}
.loncom_index_change i{
  color: #006CB1;
  font-size: 18px;
  margin-top: 9px;
}
/*
.loncom_index_change .loncom_meau {
  width: 18px;
  height: 18px;
  float: right;
  margin: 9px 0;
  background: url(../images/meau.svg) no-repeat;
}

.loncom_threeline {
  width: 18px;
  height: 18px;
  float: right;
  margin: 9px 0;
  background: none !important;
}

.loncom_threeline span {
  width: 18px;
  height: 2px;
  display: block;
  background: #006CB1;
  margin: 3px 0;
}*/

.loncom_index_left_box_body {
  height: 100%;
  display: none;
}

.loncom_index_left_box_body.loncom_active {
  display: block;
}

.loncom_index_left_box_body a {
  width: 100%;
  height: 100%;
  display: block;
}

.loncom_index_left_box_info {
  text-align: center;
  color: #fff;
}

.loncom_index_left_box_info em {
  width: 105px;
  height: 105px;
  margin-top: 50px;
  display: inline-block;
}
.loncom_index_left_box_info em img{
  max-width: 105px;
  max-height: 105px;
}

.loncom_index_left_box_info h2 {
  font-size: 16px;
  margin: 10px 0 15px 0;
}

.loncom_index_left_box_info_con {
  width: 100%;
  margin: 0 0 8px 0;
  color: rgba(255, 255, 255, 0.6);
}

.loncom_index_left_box_info_con:nth-of-type(1) .loncom_num {
  color: #08eb42;
}

.loncom_index_left_box_info_con:nth-of-type(2) .loncom_num {
  color: #ff0000;
}

.loncom_index_left_box_info_con p {
  display: inline-block;
  width: 100%;
  text-align: left;
  position: relative;
  left: 50%;
  margin-left: -80px;
}

.loncom_index_left_box_info_con p span {
  float: left;
  height: 20px;
  line-height: 20px;
}

.loncom_index_left_box_info_con p span.loncom_img {
  width: 20px;
  height: 20px;
  display: block;
}

.loncom_index_left_box_info_con p span.loncom_index_shebei {
  background: url(../images/index_shebei.png) no-repeat right center;
}

.loncom_index_left_box_info_con p span.loncom_index_yichang {
  background: url(../images/index_yichang.png) no-repeat right center;
}

.loncom_index_left_box_info_con span.loncom_text {
  text-align: left;
  margin-left: 10px;
  height: 18px;
}

.loncom_index_left_smallbox {
    width: 50%;
    height: 160px;
    display: block;
    float: left;
}

.loncom_index_left_smallboxline{
  position: relative;
}
.loncom_index_left_smallboxline em:nth-of-type(1){
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 50%;
  top: 0;
}
.loncom_index_left_smallboxline em:nth-of-type(2){
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 0;
}
.loncom_index_left_smallbox_img {
    text-align: center;
    padding: 50px 0 15px 0;
}
.loncom_index_left_smallbox_img img{
  max-width: 60px;
  max-height: 60px;
}
.loncom_index_left_smallbox_text {
    width: 100%;
    color: #fff;
    text-align: center;
}
.loncom_index_left_smallbox_text p {
    display: inline-block;
    margin: 0 auto;
}
.loncom_index_left_smallbox_text p span:nth-of-type(1) {
    margin-right: 10px;
}

.loncom_index_body_cen_right {
  width: 100%;
  overflow: hidden;
  margin-bottom: 15px;
}

.loncom_index_right_box {
  padding: 10px 22px;
  background: rgba(255, 255, 255, 0.2);
}

.loncom_index_right_box:hover {
  background: rgba(255, 255, 255, 0.3);
}

.loncom_index_body_cen_right_box1 {
  width: 100%;
  height: 480px;
  margin-bottom: 15px;
  position: relative;
}

.loncom_index_body_right_title {
  height: 36px;
  line-height: 36px;
  color: #fff;
}

.loncom_index_body_right_box1_title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.loncom_index_body_right_title h2 {
  font-size: 16px;
  line-height: 36px;
  float: left;
}

.loncom_index_body_right_list {
  width: 100%;
  height: 379px !important;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.loncom_index_wrapper2_con {
  width: 100%;
  height: 380px;
  padding-right: 3px;
}

.loncom_index_body_right_list .loncom_index_wrapper2_con {
  display: none;
}

.loncom_index_body_right_list .loncom_active {
  display: block;
}

.loncom_index_body_right_list li {
  height: 54px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.loncom_index_list_input {
  margin: 17px 0 0 0;
  width: 8%;
  text-align: center;
  float: left;
}

.loncom_index_list_input input {
  display: none;
}

.loncom_index_checkbox+label {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  margin: 0;
}

.loncom_index_checkbox:checked+label:after {
  content: '\2714';
  font-size: 12px;
  width: 16px;
  height: 16px;
  background: #267daa;
  position: absolute;
  top: -1px;
  left: -1px;
  color: rgba(255, 255, 255, 0.8);
}

.loncom_index_list_ok {
  float: right;
  height: 54px;
  line-height: 54px;
  text-align: right;
  color: rgba(255, 255, 255, 0.3);
}

.loncom_index_list_ok span {
  width: 14px;
  height: 14px;
  display: block;
  float: right;
  margin-top: 20px;
}
.loncom_index_list_ok span.loncom_index_alarm_ok{
  background: url(../images/index_alarm_ok.png) no-repeat;
  background-size: contain;
}
.loncom_index_list_ok span.loncom_index_alarm_no{
  background: url(../images/index_alarm_no.png) no-repeat;
  background-size: contain;
}

.loncom_index_list_info {
  float: left;
  width: 80%;
  float: left;
  padding-top: 10px;
}

.loncom_index_list_info h2 {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
}

.loncom_index_list_info h2 span {
  margin-right: 10px;
  padding-top: 2px;
  height: 14px;
  width: 14px;
  display: block;
  float: left;
}

.loncom_index_list_info p {
  width: 100%;
  overflow: hidden;
  height: 22px;
  line-height: 24px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}

.loncom_index_body_right_list_checkall {
  position: relative;
}
.loncom_index_body_right_list_checkall.loncom_active{
  display: none;
}

.loncom_index_checkall_btn {
  width: 80px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  display: block;
  border-radius: 3px;
  background: #0FAE30;
  color: #fff;
  position: absolute;
  left: 8%;
  margin-left: 10px;
  top: 10px;
}

.loncom_index_body_cen_right_box2 {
    width: 100%;
    float: left;
    height: 160px;
}
.loncom_index_body_cen_right_boxl{
  width: 50%;
  float: left;
  height: 100%;
}
.loncom_index_body_right_title i.loncom_set{
  font-size: 30px;
  color: #006CB1;
  float: right;
}
.loncom_index_body_right_con{
    text-align: center;
    padding-top: 15px;
}
.loncom_index_body_right_con i.loncom_chart{
  font-size: 50px;
  color: #0FAE30;
}

.loncom_index_right_box2_con li {
  width: 33.33%;
  overflow: hidden;
  float:left;
  color: #fff;
  font-size: 16px;
  text-align: center;
}
.loncom_index_right_box2_con li>div{
  margin-top: 15px;
}
.loncom_index_sys_num {
  font-size: 30px;
  font-weight: bold;
}
.loncom_index_body_cen_right_boxr{
  width: 25%;
  float: left;
  padding-left: 15px;
  height: 100%;
}
.loncom_index_body_cen_right_boxrcon{
  height: 100%;
}
.loncom_index_body_foot {
  text-align: center;
  padding: 5px 0 5px 0;
  height: 38px;
}
.loncom_index_body_foot li {
    width: 18px;
    height: 18px;
    border: 1px solid #666666;
    text-align: center;
    line-height: 16px;
    border-radius: 100%;
    display: inline-block;
    margin: 0 3px;
    color: #666;
}
.loncom_index_body_foot li a {
  color: #D6D6D6;
}
.loncom_index_body_foot li.loncom_active, .loncom_index_body_foot li.loncom_foot_act {
  border-color: #0064aa;
    background: #0064aa;
}
.loncom_index_body_foot li.loncom_active a {
  color: #fff;
}
.loncom_index_body_foot li.loncom_foot_act a{
  color:#000519;
}
.loncom_index_wrapper2_chart{
  height: 380px;
  padding: 20px 0;
}


@media (min-width: 1000px) {
  .loncom_index_body {
    padding: 0 10px;
  }
  .loncom_index_body_cen_left {
    width: 57%;
    float: left;
  }
  .loncom_index_body_cen_right {
    width: 43%;
    float: right;
  }
}

@media (min-width: 1200px) {
  .loncom_index_body {
    padding: 0 60px;
  }
}
